.debug {
    border: 1px solid red !important;

    &>* {
        border: 1px solid green !important;
    }

    &>* {
        border: 1px solid blue !important;
    }
}

@layer base {

    :root,
    main,
    body {
        height: 100%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

}

:root {
    --color-bg: light-dark(#f4f4f5, #09090b);
    --color-foreground: light-dark(#18181b, #fafafa);

    --color-card-bg: light-dark(#fafafa, #18181b);
    --color-card-foreground: light-dark(#09090b, #f4f4f5);

    --color-primary: light-dark(#4f46e5, #6366f1);
    --color-primary-foreground: light-dark(#ffffff, #000000);

    color-scheme: light dark;

}

body {
    color: var(--color-foreground);
    background-color: var(--color-bg);

    font-family: monospace;
}



.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem;
}

.card {
    color: var(--color-card-foreground);
    background-color: var(--color-card-bg);

    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

    padding: 1.5rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &>.title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    &>.content {
        font-size: 1rem;
        line-height: 1.5;
    }
}


button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-primary-foreground);

}

[popovertarget="popover"] {
    position: absolute;
    top: 45rem;
    right: 2rem;
    anchor-name: --popover-anchor;
}

#popover {
    width: 400px;
    margin-block: 0.5rem;
    opacity: 0;
    pointer-events: none;
    border: none;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-property: opacity, transform;

    position-anchor: --popover-anchor;

    position: fixed;
    inset: auto;
    bottom: anchor(top);
    left: anchor(left);

    position-try: --bottom-left, --top-left, --bottom-right, --top-right;

    &:popover-open {
        opacity: 1;
    }
}

@position-try --bottom-left {
    inset: auto;
    top: anchor(bottom);
    left: anchor(left);
}

@position-try --top-left {
    inset: auto;
    bottom: anchor(top);
    left: anchor(left);
}

@position-try --bottom-right {
    inset: auto;
    top: anchor(bottom);
    right: anchor(right);
}

@position-try --top-right {
    inset: auto;
    bottom: anchor(top);
    right: anchor(right);
}